.profileMainWrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.leftBlockWrapper{
  max-width: 250px;
  padding: 20px;
}

.rightBlockWrapper {
  padding: 20px 20px 20px 0;
}

.photoWrapper{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
  border: 1px solid #d2d2d2;
}

.photo {
  width: 100%;
  transform: scale(1.05);
}

.contactsWrapper {
  overflow: hidden;
  width: 100%;
}

.contactsTitle {
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.contactsBlock{
  display: block;
  font-size: 14px;
  margin-bottom: 3px;
}

.UserName {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 33px;
  font-weight: bold;
}

.userAbout {
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
}

.jobStatus{
  display: block;
  margin-bottom: 5px;
}