.profileMainWrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.leftBlockWrapper{
  max-width: 250px;
  padding: 20px;
}

.rightBlockWrapper {
  padding: 20px 20px 20px 0;
  position: relative;
}

.editButton {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  background-color: #d7d7d7;
  border-radius: 10px;
  border: none;
  font-size: 13px;
  transition: 0.3s all;
  cursor: pointer;
}

.editButton:hover {
  background-color: #ff8f49;
  color: white;
}

.photoWrapper{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
  border: 1px solid #d2d2d2;
  position: relative;
}

.photo {
  width: 100%;
  transform: scale(1.05);
}

.contactsWrapper {
  overflow: hidden;
  width: 100%;
}

.contactsTitle {
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.UserName {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 33px;
  font-weight: bold;
}

.userAbout {
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
}

.jobStatus{
  display: block;
  margin-bottom: 5px;
}

.preloaderWrapper{
  width: 100%;
  max-height: 150px;
  text-align: center;
}

.profileChangePhotoButtonLabel{
  position: absolute;
  padding: 10px 0;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background-color: gray;
  color: white;
  display: none;
  transition: 0.3s all;
  z-index: 3;
}

.photoWrapper:after {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #171717;
  opacity: 0;
  z-index: 2;
  transition: 0.3s all;
}

.photoWrapper:hover:after {
  opacity: 0.4;
}

.photoWrapper:hover .profileChangePhotoButtonLabel {
  display: block;
}

.profileChangePhotoButtonLabel:hover {
  background-color: #fc5a35;
}

.profileChangePhotoButton{
  display: none;
}

.goChatButton{
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto 10px;
  border: none;
  background-color: gray;
  color: white;
  transition: 0.3s all;
}

.goChatButton:hover {
  background-color: #ff8f49;
}