.friendsMainWrapper{
  overflow: hidden;
  position: relative;
}

.friendsBlockWrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:20px;
  padding: 20px;
}


@media (max-width: 1200px) {
  .friendsBlockWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
