.message {
  display: flex;
  align-items: center;
  padding: 10px 25px 10px 15px;
  background-color: #fcf4ec;
  margin-bottom: 15px;
  border-radius: 10px;
  width: fit-content;
}

.message img {
  width: 30px;
  margin-right: 15px;
}