.usersMainWrapper{
  overflow: hidden;
}

.usersBlockWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-gap: 15px;
  padding: 0 20px;
}

.userBlock{
  max-width: 220px;
  height: 340px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
  position: relative;
}

.imgWrapper {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.imgWrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userImg{
  width: 100%;
  transform: scale(1.15);
  transition: transform, 0.3s;
  margin-bottom: 10px;
}

.userImg:hover {
  transform: scale(1.3);
}

.infoBlock {
  display: block;
  width: 100%;
}

.nameBlockWrapper {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  height: 22px;
  overflow: hidden;
}

.statusBlockWrapper {
  height: 44px;
  max-height: 44px;
  overflow: hidden;
}

.buttonsWrapper{
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.buttonsWrapper button {
  text-align: center;
  display: block;
  padding: 10px;
  min-width: 100px;
  border-radius: 5px;
  border: none;
  /*background-color: #ff8f49;
  color: white;*/
  transition: 0.3s all;
}

.buttonsWrapper .followButton {
  background-color: #ff8f49;
  color: white;
}

.buttonsWrapper .followButton:hover {
  background-color: #fc5a35;
}

.buttonsWrapper .unfollowButton {
  background-color: #c7c7c7;
  color: #171717;
}

.buttonsWrapper .unfollowButton:hover {
  background-color: #b0b0b0;
}

.paginationWrapper{
  padding: 20px 20px 20px 20px;
}

.paginationWrapper span {
  display: inline;
  padding: 10px;
  margin: 0 2px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;
}

.paginationWrapper span:hover {
  background-color: antiquewhite;
  color: black;
}

.paginationWrapper .selectedPage {
  font-weight: 700;
  background-color: #ff8f49;
  color: white;
}
