.blockWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 30px;
  flex-direction: column;
}

.image{
  max-width: 160px;
  margin-bottom: 30px;
}

.title{
  font-size: 25px;
  margin-bottom: 20px;

}

.mainpageLink{
  cursor: pointer;
  font-size: 20px;
}