.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: #8d8d8d;
  padding: 10px 20px;
}

.header img {
  width: 40px;
}

.loginWrapper{
    /*max-width: 130px;*/
  display: flex;
  align-items: center;
}

.loggedUserWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginLogoWrapper{
  border-radius: 50%;
  transition: 0.3s all;
  position: relative;
}

.loginLogoWrapperOverflow {
  overflow: hidden;
  transition: 0.3s all;
}

.loginLogo{
  transform: scale(1.2);
  max-width: 45px;
}

.loginName{
  margin-right: 10px;
  font-size: 22px;
  color: white;
  font-weight: 300;
  transition: 0.3s all;
}

.loggedUserLink{
  text-decoration: none;
  transition: 0.3s all;
}

.loggedUserLink:hover .loginLogoWrapperOverflow {
  transform: scale(1.1);
}

.loggedUserLink:hover .loginName {
  color: #ffdcb8;
}

.loginButton{
  color: white;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  padding: 7px 15px;
  background-color: #ff8f49;
  border-radius: 10px;
  transition: 0.3s all;
}

.loginButton:hover {
  background-color: #fc5a35;
}

.logoutButtonWrapper {
  position: absolute;
  bottom: -10px;
  right: 50%;
  transform: translateX(50%);
}

.logoutButton {
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  background-color: #464646;
  text-decoration: none;
  border: none;
  display: none;
  cursor: pointer;
  transition: 0.3s all;
}

.loggedUserLink:hover .logoutButton {
  display: block;
}

.logoutButton:hover {
  background-color: #fc5a35;
}