.nav {
  grid-area: nav;
  background-color: antiquewhite;
  height: fit-content;
  min-height: 600px;
}

.nav div a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #424242;
}

.nav div a.active {
  background-color: #c2b7a7;
}