.statusWrapper{
  display: flex;
  margin-bottom: 5px;
  cursor: pointer;
}

.status{
  display: flex;
  align-items: center;
}

.inputChangeStatus{
  background-color: #fcf4ec;
  outline:none;
  border: 1px solid #8d8d8d;
  border-radius: 6px;
  padding: 5px 20px 5px 5px
}

.editButton{
  padding: 3px 8px;
  margin-left: 10px;
  background-color: #d7d7d7;
  border-radius: 5px;
  transition: 0.3s all;
}

.statusWrapper:hover .editButton {
  background-color: #ff8f49;
  color: white;
}