
.title {
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.formWrapper {
  width: fit-content;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  background-color: #f5f5f7;
}

.inputWrapper{
  max-width: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.inputWrapper label {
  font-size: 20px;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.inputWrapper label.checkboxLabel{
  width: auto;
  margin-right: 10px;
  margin-bottom: 5px;
}

.checkboxWrapper{
  display: flex;
  align-items: center;
}

.checkboxWrapper .checkbox {
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

.input {
  display: block;
  width: 250px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

.buttonWrapper{
  display: flex;
  justify-content: center;
  position: relative;
}

.errorBlock{
  position: absolute;
  bottom: 0;
  transform:  translateX(100%);
  right: 0;
  padding: 7px 15px;
  background-color: #f5f5f7;
  border-radius: 10px;
  border-bottom: 3px solid red;
}

.authButton{
  padding: 8px 30px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #ff8f49;
  color: white;
  transition: 0.3s all;
}

.authButton:hover {
  background-color: #fc5a35;
}

.authButton:disabled {
  background-color: gray;
}

.preloaderWrapper{
  position: absolute;
  transform: translateX(50%);
  right: calc(50% - 75px);
  max-width: 30px;
  max-height: 30px;
  display: flex;
  justify-content: center;
}

.generalErrorFetchingWrapper{
  height: 0;
  overflow: hidden;
  transition: 0.3s all;
}

.setHeightErrorWrapper{
  height: 80px;
}

.generalErrorFetching{
  padding: 13px 20px;
  background-color: #e73737;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  border-radius: 10px;
}

.testedDataWrapper{
  width: fit-content;
  margin: 0 auto 10px;
  padding: 25px;
  background-color: #f5f5f7;
  border-radius: 10px;
  text-align: center;
}

.testedDataWrapper .testedDataTitle {
  font-weight: 700;
}

.testedDataWrapper .loginTestAccountButton{
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  background-color: gray;
  color: white;
  transition: 0.3s all;
  margin-top: 10px;
}

.testedDataWrapper .loginTestAccountButton:hover {
  background-color: #ff8f49;
}

.afterDataText{
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 992px) {

  .errorBlock{
    bottom: -20px;
    right: -10px;
    transform:  translateX(0);
  }

  .formWrapper{
    max-width: 300px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left:10px;
    padding: 20px;
  }

  .input{
    width: 100%;
    max-width: 300px;
  }
}