.appWrapper {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav content content";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  box-sizing: border-box;
}

.appWrapperContent {
  grid-area: content;
}

.preloaderWrapper{

}